body {
  display: flex;
  flex-direction: column; /* stapla uppifrån och ned */
  align-items: center;    /* centrera horisontellt */
  min-height: 100vh;
    background: linear-gradient(to bottom, 
    rgb(246, 190, 189),
    rgb(254, 126, 125));
}

.todoContainer {
   background-color: white;
   width: 500px;
   height: 200px;
   padding: 10px;
   border-radius: 1px;
   margin-top: 0px;
   display: flex;
   flex-direction: column;
   align-items: center;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    animation-name: todoContainerSlideIn;
    animation-duration: 1s;
}

@keyframes todoContainerSlideIn {
  from {
    transform: translateY(-200px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

#headline {
  margin-bottom: 20px;
  animation-name: headlineSlideIn;
  animation-duration: 1s;
  animation-delay: 1s;
}

@keyframes headlineSlideIn {
  from {
    transform: translateY(-200px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.btnStyle {
   color: blue;
}

.completed {
   text-decoration: line-through;
   color: grey;
}

.trashcan {
   font-size: large;
   margin-left: 3px;
   cursor: pointer;
}

#infoText {
  display: inline-block;
  margin-top: 10px;
}

.blink {
  animation: blink 1s 1s;
}

@keyframes blink {
  0%   { opacity: 1; }
  50%  { opacity: 0; }
  100% { opacity: 1; }
}