body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
    background: linear-gradient(to bottom, 
    rgb(246, 190, 189),
    rgb(254, 126, 125));
}
  .box {
   background-color: white;
   width: 500px;
   
   padding: 10px;
   border-radius: 1px;
   margin-top: 10px;
   display: flex;
   flex-direction: column;
   align-items: center;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    animation-name: boxSlideIn;
    animation-duration: 1s;
 }

@keyframes boxSlideIn {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  60% {
    transform: translateY(30px);
    opacity: 1;
  }
  80% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.headerInput {
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  opacity: 0;
  animation-name: headlineInputSlideIn;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

@keyframes headlineInputSlideIn {
  from {
    transform: translateY(-200px);
    opacity: 0%;
  }
  to {
    transform: translateY(0);
    opacity: 1000%;
  }
}

.formContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.btnStyle {
  background-color: hsl(0, 7%, 86%);
  border: black 1px solid;
  padding: 9px 15px;
  margin: 1px;
  font-size: 18px;
  border-radius: 3px;
  transition: background-color 0.2s;
}

.btnStyle:hover {
  background-color: lightgray;
}

.inputToDo {
  padding: 10px 15px;
  font-size: 16px;
  width: 300px;
  border-radius: 4px;
  border-width: 1px;
}

.inputToDo:focus {
 border-color: blue;
 outline: none;
}

.completed {
   text-decoration: line-through;
   color: grey;
   cursor: pointer;
}

.trashcan {
   font-size: large;
   margin-left: 3px;
   cursor: pointer;
}

.trashcan:hover {
   filter: brightness(70%);
}

.h1 {
  font-size: 60px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.blink {
  animation: blink 0.5s 2s;
}

@keyframes blink {
  0%   { opacity: 1; }
  50%  { opacity: 0; }
  100% { opacity: 1; }
}

.todoContainer {
   background-color: white;
   width: 500px;
   
   padding: 10px;
   border-radius: 1px;
   margin-top: 0px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

#todoList {
   list-style-type: none;
   cursor: pointer;
    padding: 0;
}
#todoList li {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   font-size: 30px;
   font-family: 'Arial', sans-serif;
   padding: 8px 0;
}