/* 
Shift alt A = kommentera markerade rader


 */

body {

   background-color: aqua
}

.btnStyle {
   color: blue;
}

.completed {
   text-decoration: line-through;
   color: grey;
}

.trashcan {

   font-size: large;
   margin-left: 3px;
   cursor: pointer;

}